<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="firstTestSuite" verbose="1" >
    <parameter name="expectedCount" value="2"/>

    <test name="filtering">
        <classes>
            <class name="functional.FilteringTest" />
        </classes>
    </test>

    <test name="searching">
        <classes>
            <class name="functional.SearchingTest" />
        </classes>
    </test>

    <test name="positive-advert">
        <classes>
            <class name="functional.PositiveAdvertisementTest" />
        </classes>
    </test>

    <test name="negative-advert">
    <classes>
        <class name="negative.NegativeAdvertisementTest" />
    </classes>
    </test>

    <!--  <test name="SmokeTest"> -->
    <!-- <classes> -->
            <!--   <class name="functional.SearchingTest" /> -->
            <!--         <class name="functional.FilteringTest" /> -->
            <!--       <class name="functional.PositiveAdvertisementTest" /> -->
               <!--     <class name="negative.NegativeAdvertisementTest" /> -->
            <!--   </classes> -->
    <!--    </test> -->
            </suite>